{% extends 'base.html' %}

{% block content %}

    <h1 class="font-medium leading-tight text-5xl mt-0 mb-2 text-blue-600">
        Comments
    </h1>

    {% if user.is_staff%}
    <button type="button" 
            class="inline-block rounded bg-red-600 px-6 py-2.5 text-white font-medium uppercase leading-normal"
            hx-get="{%url 'check_spam'%}"
            hx-target="#comments"
            hx-swap="outerHTML">
            Detect Spam
    </button>
    {%endif%}
    <br>

    <div id="comments">
        {% for comment in comments %}
        <div class="flex flex-col m-3">
            <div class="block p-6 rounded-lg shadow-lg bg-white max-w-(75%)">
                <p class="text-gray-800 text-base mb-4">
                    {{ comment.text }}
                </p>

                {% if user.is_staff%}
                    <button type="button" 
                            class="inline-block rounded bg-red-600 px-6 py-2.5 text-white font-medium uppercase leading-normal)]" 
                            hx-delete="{% url 'delete-comment' comment.pk %}">
                        Remove Post
                    </button>
                    <br>
                {%endif%}

            </div>
        </div>

        {% endfor %}
    </div>

    <script>
        htmx.on('htmx:afterRequest', function(e){
            console.log(e)
            if (e.detail.requestConfig.verb === 'delete'){
                const src = e.detail.elt
                const card = htmx.closest(src,'div[class="flex flex-col m-3' )
                htmx.remove(card)
            }
        })
    </script>

{% endblock content %}
