
<div id="comments">
    {% for comment, prediction in comments %}
    <div class="flex flex-col m-3">
        {% if prediction %}

            <div  class="block p-6 rounded-lg shadow-lg bg-red-400 max-w-(75%)">
            
                <p class="text-gray-700 text-base mb-4">
                    {{ comment.text }}
                </p>

                {% if user.is_staff %}
                    <button type="button" class="inline-block rounded bg-red-900 px-6 py-1.5 text-xs font-medium uppercase leading-normal text-white" 
                            data-te-ripple-init data-te-ripple-color="light"
                            hx-delete="{% url 'delete-comment' comment.pk %}">
                        Remove Post
                    </button>
                
                {%endif%}

            </div>

        {% else %}
        <div  class="block p-6 rounded-lg shadow-lg bg-green-400 max-w-(75%)">
            
            <p class="text-gray-700 text-base mb-4">
                {{ comment.text }}
            </p>

            {% if user.is_staff %}
                <button type="button" 
                        class="inline-block rounded bg-white-900 px-6 py-1.5 text-xs font-medium uppercase leading-normal text-black" 
                        hx-delete="{% url 'delete-comment' comment.pk %}">
                    Remove Post
                </button>
            {%endif%}

        </div>

        {%endif%}

    </div>

    {% endfor %}
</div>

